<div class="row"><mat-label>Maximale Anzahl Personen in geschlossenen Räumen: </mat-label><mat-label>{{provinceToDisplay.personsIndoor}}</mat-label></div>
<div class="row"><mat-label>Maximale Anzahl Personen außerhalb geschlossenen Räumen: </mat-label><mat-label>{{provinceToDisplay.personsOutdoor}}</mat-label></div>
<div class="row"><mat-label>Maximale Anzahl Haushalte in geschlossenen Räumen: </mat-label><mat-label>{{provinceToDisplay.householdsIndoor}}</mat-label></div>
<div class="row"><mat-label>Maximale Anzahl Haushalte außerhalb geschlossenen Räumen: </mat-label><mat-label>{{provinceToDisplay.householdsOutdoor}}</mat-label></div>
<div class="row"><mat-label>Maskenpflicht: </mat-label><mat-label>{{provinceToDisplay.maskMandatory}}</mat-label></div>
<div class="row"><mat-label>Maximale Teilnehmerzahl pro m^2 Fläche in geschlossenen Räumen: </mat-label><mat-label>{{provinceToDisplay.personsPsmIndoor}}</mat-label></div>
<div class="row"><mat-label>Maximale Teilnehmerzahl pro m^2 Fläche außerhalb geschlossener Räume: </mat-label><mat-label>{{provinceToDisplay.personsPsmOutdoor}}</mat-label></div>
