<div style="padding: 20px">
    <div class="text-center">Wähle ein Bundesland, für das sie die Regularien anzeigen lassen wollen</div>
    <div class="text-center">
      <mat-form-field appearance="fill">
        <mat-label>Bundesland</mat-label>
      <mat-select [(ngModel)]="selectedProvince">
        <mat-option *ngFor="let province of allProvinces" [value]="province">{{province}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="text-center">
    <button (click)="loadProvince()" mat-button>Regularien anzeigen</button>
  </div>
  <app-province-info-window></app-province-info-window>
  <app-gathering-to-evaluate-window></app-gathering-to-evaluate-window>
</div>

